<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Admin Console</title>
    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" >
<link href="css/font-awesome.min.css" rel="stylesheet" >
<link href="css/style.css" rel="stylesheet">
<link href="css/nav.css" rel="stylesheet">
<link href="css/global.css" rel="stylesheet">
<link href="css/authentication.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

   
</head>
<body>

<section id="autcard_log">
  <div class="container">
    <div class="row">
	 <div class="card">
	  <div class="card-body p-0">
		<div class="autcard_logi row">
		 <div class="col-md-5 p-0">
		  <div class="autcard_logil text-center" style="background:#3587f4; padding:40px 30px;">
		   <h2 style="font-size: 1.728rem;" class="text-center mb-4"><a class="text-white" href="#">Admin Panel</a></h2>
		   <p class="opacity-75 text-white">With the power of Falcon, you can now focus only on functionaries for your digital products, while leaving the UI design on us!</p>
            <p style="margin-top:170px;" class="opacity-75 text-white bold text_13 mb-0">Read our <a class="opacity-75 text-white" href="#">terms</a> and <a class="opacity-75 text-white" href="#">conditions</a></p>
		  </div>
		 </div>
		 <div class="col-md-7">
		  <div class="autcard_logir" style="padding:75px 30px;">
		    <h3 style="font-size: 1.728rem;" class="mb-3">Reset password</h3>
          <h6 class="colo_8 mb-2 font_14">New Password</h6>
		   <input class="form-control form_log" type="email">
		    <h6 class="colo_8 mb-2 font_14 mt-3">Confirm Password</h6>
		   <input class="form-control form_log" type="email">
         <button class="btn btn-primary d-block w-100 mt-3 bold" type="submit" name="submit">set password</button>
		  </div>
		 </div>
		</div>
	  </div>
      </div>
	</div>
  </div>
</section>


<script src="js/bootstrap.bundle.min.js" ></script>

</script><script src="js/global.js"></script>
  

</body></html>