<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Admin Console</title>
    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" >
<link href="css/font-awesome.min.css" rel="stylesheet" >
<link href="css/style.css" rel="stylesheet">
<link href="css/nav.css" rel="stylesheet">
<link href="css/global.css" rel="stylesheet">
<link href="css/authentication.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

   
</head>
<body>

<section id="aulog">
 <div class="aulog_m">
  <div class="container-fluid ">
  <div class="row">
   <div class="col-md-4 p-0">
    <div class="aulog_l bg-white" style="padding:40px;">
	  <h5 class="mb-0"><i style="font-size:16px;" class="fa fa-circle col_2"></i><i style="font-size:16px; margin-right:5px;" class="fa fa-circle col_4"></i> <a class="text-black" href="index.html">SEMPER</a></h5>
	  <div class="aulog_li text-center" style="margin-top:60px;">
       <span style="font-size:100px; display:inline-block;" class="col_1"><i class="fa fa-envelope-o"></i></span>
	   <h6>Please check your email</h6>
	   <p class="col_3">A email has been send to <span style="font-weight:bold;">youremail@domain.com.</span> Please check for an email from company and click on the included link to reset your password.</p>
	   <h6 class="mt-4"><a style="display:block; text-align:center;" class="buttton_1" href="index.html"><i class="fa fa-home"></i> Back to home  </a></h6>
	   <p style="margin-top:100px;">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_1 font-weight-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	  </div>
	</div>
   </div>
   <div class="col-md-8 p-0">
    <div class="aulog_r text-center" style="padding-top:470px;">
	  <h4 class="text-white">I love the color!</h4>
	  <p class="text-light mt-3"><i style="margin-right:5px;" class="fa fa-quote-left"></i> It's a elegent templete. I love it very much! . <i style="margin-left:5px;" class="fa fa-quote-right"></i></p>
	  <p class="text-light">- Lorem Admin User</p>
	</div>
   </div>
  </div>
 </div>
 </div>
</section>


<script src="js/bootstrap.bundle.min.js" ></script>

</script><script src="js/global.js"></script>
  

</body></html>