<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Admin Console</title>
    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" >
<link href="css/font-awesome.min.css" rel="stylesheet" >
<link href="css/style.css" rel="stylesheet">
<link href="css/nav.css" rel="stylesheet">
<link href="css/global.css" rel="stylesheet">
<link href="css/authentication.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

   
</head>
<body>

<section id="autlog">
  <div class="container">
    <div class="row">
	 <div class="col-md-12">
	   <div class="autlog_1 reg_n1">
	     <h2 class="text-center mb-4"><a class="colo_4" href="#">Admin Panel</a></h2>
		 <div class="autlog_1i bg-white text-center" style="width:40%; padding:40px; margin-left:auto; margin-right:auto; border-radius:5px;">
		  <h5 class="mb-2">Forgot your password?</h5>
		  <p class="text_12">Enter your email and we'll send you a reset link.</p>
         <input class="form-control mt-4" type="email" placeholder="Email address">
         <button class="btn btn-primary d-block w-100 mt-3 bold" type="submit" name="submit">send reset link</button>
	     <p class="text_12 mt-2 mb-0"><a href="#">I can't recover my account using this page <i class="fa fa-long-arrow-right"></i></a></p>
		 </div>
	   </div>
	 </div>
	</div>
  </div>
</section>


<script src="js/bootstrap.bundle.min.js" ></script>

</script><script src="js/global.js"></script>
  

</body></html>