<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Admin Console</title>
    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" >
<link href="css/font-awesome.min.css" rel="stylesheet" >
<link href="css/style.css" rel="stylesheet">
<link href="css/nav.css" rel="stylesheet">
<link href="css/global.css" rel="stylesheet">
<link href="css/authentication.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

   
</head>
<body>

<section id="autlog">
  <div class="container">
    <div class="row">
	 <div class="col-md-12">
	   <div class="autlog_1">
	     <h2 class="text-center mb-4"><a class="colo_4" href="#">Admin Panel</a></h2>
		 <div class="autlog_1i bg-white text-center" style="width:40%; padding:40px; margin-left:auto; margin-right:auto; border-radius:5px;">
          <span><i  style="font-size:100px;" class="fa fa-globe colo_3"></i></span>
		  <h4 style="font-size: 1.44rem;" class="mt-3">See you again!</h4>
		  <p>Thanks for using Falcon. You are<br>
now successfully signed out.</p>
           <h6 class="mt-4"><a class="button_new_2" href="#"><i style="margin-right:5px;" class="fa fa-sign-in"></i> Return to Login</a></h6>
		 </div>
	   </div>
	 </div>
	</div>
  </div>
</section>


<script src="js/bootstrap.bundle.min.js" ></script>

</script><script src="js/global.js"></script>
  

</body></html>