<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Admin Console</title>
    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" >
<link href="css/font-awesome.min.css" rel="stylesheet" >
<link href="css/style.css" rel="stylesheet">
<link href="css/nav.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="css/shCoreEclipse.css"/>
<link type="text/css" rel="Stylesheet" href="css/shThemeEclipse.css" />
<link href="css/global.css" rel="stylesheet">
<link href="css/baseui.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

<script type="text/javascript" src="js/XRegExp.js"></script>
<script type="text/javascript" src="js/shCore.js"></script>
<script type="text/javascript" src="js/shBrushXml.js"></script>
<script type="text/javascript">
	SyntaxHighlighter.defaults['pad-line-numbers'] = false;
	SyntaxHighlighter.defaults['gutter'] = false;
	SyntaxHighlighter.defaults['toolbar'] = false;
    SyntaxHighlighter.all();
</script>



   
</head>
<body>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="index.html"><h4>ADMINISTRATOR</h4></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <ul class="nav hide">
  
  <li class="nav-item sign_box_1">
    <a class="nav-link  text-light" href="#"><i class="fa fa-comment"></i> 3</a>
  </li>
  
  <li class="nav-item dropdown notification">
    <a class="nav-link dropdown-toggle text-white  border-0" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><button type="button" class="border-0 btn bg-dark text-white   position-relative">
  <i class="fa fa-bell"></i>
  <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger" style="top:5px;">
    3+
    <span class="visually-hidden">unread messages</span>
  </span>
</button></a>
    <ul class="dropdown-menu drop_1" style="left:auto; right:0; min-width:300px;">
	  <li class="noti_p">Notification <span class="pull-right"><a href="#">Clear All</a></span></li>
      <li class="noti_p1">
	  <div class="noti_i p-2  row m-0">
	   <div class="col-sm-3">
	    <div class="noti_il">
		  <a href="#"><img src="img/1.jpg" alt="abc" class="rounded-circle w-100"></a>
		</div>
	   </div>
	   <div class="col-sm-9 p-0">
	    <div class="noti_ir">
		  <p class="mb-0">Caleb Flakelar commented on Admin
                                                <small class="text-muted font-13">1 min ago</small>
          </p>
		</div>
	   </div>
	  </div>
	  
	  </li>
	  <li class="noti_p1">
	  <div class="noti_i p-2  row m-0">
	   <div class="col-sm-3">
	    <div class="noti_il">
		  <a href="#"><img src="img/7.jpg" alt="abc" class="rounded-circle w-100"></a>
		</div>
	   </div>
	   <div class="col-sm-9 p-0">
	    <div class="noti_ir">
		  <p class="mb-0">Caleb Flakelar commented on Admin
                                                <small class="text-muted font-13">1 min ago</small>
          </p>
		</div>
	   </div>
	  </div>
	  
	  </li>
	  <li class="noti_p1">
	  <div class="noti_i p-2  row m-0">
	   <div class="col-sm-3">
	    <div class="noti_il">
		  <a href="#"><img src="img/8.jpg" alt="abc" class="rounded-circle w-100"></a>
		</div>
	   </div>
	   <div class="col-sm-9 p-0">
	    <div class="noti_ir">
		  <p class="mb-0">Caleb Flakelar commented on Admin
                                                <small class="text-muted font-13">1 min ago</small>
          </p>
		</div>
	   </div>
	  </div>
	  
	  </li>
	  <li class="noti_p1 border-0">
	  <div class="noti_i p-2  row m-0">
	   <div class="col-sm-3">
	    <div class="noti_il">
		  <a href="#"><img src="img/9.jpg" alt="abc" class="rounded-circle w-100"></a>
		</div>
	   </div>
	   <div class="col-sm-9 p-0">
	    <div class="noti_ir">
		  <p class="mb-0">Caleb Flakelar commented on Admin
                                                <small class="text-muted font-13">1 min ago</small>
          </p>
		</div>
	   </div>
	  </div>
	  
	  </li>
    </ul>
  </li>
  <li class="nav-item sign_box dropdown">
    <a class="nav-link dropdown-toggle text-white  border-0" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><img alt="abc" class="rounded-circle" width="30"height="30" src="img/1.jpg">Eget Nulla</a>
      <ul class="dropdown-menu drop_2" style="left:auto; right:0; min-width:200px;">
	  <li class="small" style="padding: 0.25rem 1rem;">Welcome !</li>
      <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i> My Account</a></li>
      <li><a class="dropdown-item" href="#"><i class="fa fa-gear"></i> Settings</a></li>
      <li><a class="dropdown-item" href="#"><i class="fa fa-life-bouy"></i> Support</a></li>
      <li><a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Lock Screen</a></li>
	  <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
  </li>
</ul>
</header>



<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="overflow-y: auto; max-height:inherit;">
      <div class="position-sticky">
      
        <ul class="nav flex-column mb-2 list-unstyled ps-0">
	  <li class="nav-item">
        <a href="index.html" class="btn btn-toggle align-items-center rounded w-100 tag_m  no_drop"><i class="fa fa-dashboard icon-before"></i><span class="btn">Dashboard</span></a>
        
      </li>
      
      <li class="nav-item">
        
        <a href="javascript:void(0);" class="btn btn-toggle align-items-center rounded collapsed  w-100 tag_m" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false"><i class="fa fa-shopping-cart icon-before"></i><span class="btn">Ecommerce</span><i class="fa fa-chevron-right"></i></a>
        <div class="collapse" id="orders-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="ecommerce_prod.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Product</span></a></li>
            <li><a href="ecommerce_prod_details.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Product Details</span></a></li>
            <li><a href="ecommerce_orders.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Order</span></a></li>
            <li><a href="ecommerce_orders_detail.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Order Details</span></a></li>
			 <li><a href="ecommerce_customers.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Customers</span></a></li>
            <li><a href="ecommerce_sellers.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Sellers</span></a></li>
			
			<li><a href="cart.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Shopping Cart</span></a></li>
			
			<li><a href="checkout.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Checkout</span></a></li>
			
			<li><a href="billing.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Billing</span></a></li>
			
			<li><a href="invoice.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Invoice</span></a></li>
			
			<li><a href="pricing.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Pricing</span></a></li>
          </ul>
        </div>
      </li>
      
      <li class="nav-item">
       
        <a href="javascript:void(0);" class="btn btn-toggle align-items-center rounded collapsed w-100 tag_m" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false"><i class="fa fa-briefcase icon-before"></i><span class="btn">Projects</span><i class="fa fa-chevron-right"></i></a>
        <div class="collapse" id="account-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="project_list.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Lists</span></a></li>
            <li><a href="project_list_detail.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Details</span></a></li>
            <li><a href="create_project.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Create Project</span></a></li>
			  
          </ul>
        </div>
      </li>
	  
	  <li class="nav-item">
       
        <a href="javascript:void(0);" class="btn btn-toggle align-items-center rounded collapsed w-100 tag_m" data-bs-toggle="collapse" data-bs-target="#Authent-collapse" aria-expanded="false"><i class="fa fa-lock icon-before"></i><span class="btn">Authentication</span><i class="fa fa-chevron-right"></i></a>
        <div class="collapse" id="Authent-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a target="_blank"  href="authent_login.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Login</span></a></li>
            <li><a target="_blank"  href="authent_logout.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i>  Logout</span></a></li>
            <li><a target="_blank"  href="authent_register.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i>  Register</span></a></li>
			
			<li><a target="_blank"  href="authent_forgot.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i>  Forgot Password</span></a></li>
			
			<li><a target="_blank"  href="authent_confirm_mail.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i>  Confirm Mail</span></a></li>
			
			<li><a target="_blank"  href="authent_reset_pass.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i>  Reset Password</span></a></li>
			
			<li><a target="_blank"  href="authent_error.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i>  Error</span></a></li>
			
			<li><a target="_blank"  href="authent_card_login.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i>  Card Login</span></a></li>
			
			<li><a target="_blank"  href="authent_card_logout.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i>  Card Logout</span></a></li>
			
			<li><a target="_blank"  href="authent_card_register.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i>  Card Register</span></a></li>
			
			<li><a target="_blank"  href="authent_card_forgot.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i>  Card Forgot</span></a></li>
			
			<li><a target="_blank"  href="authent_card_confirm_mail.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i>  Card Confirm Mail</span></a></li>
			
			<li><a target="_blank"  href="authent_card_reset_pass.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i>  Card Reset Pass</span></a></li>
          </ul>
        </div>
      </li>
	  
	  <li class="nav-item">
       
        <a href="javascript:void(0);" class="btn btn-toggle align-items-center rounded collapsed w-100 tag_m" data-bs-toggle="collapse" data-bs-target="#pages-collapse" aria-expanded="false"><i class="fa fa-copy icon-before"></i><span class="btn">Pages</span><i class="fa fa-chevron-right"></i></a>
        <div class="collapse" id="pages-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
		    <li><a  href="profile.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Profile</span></a></li>
		    <li><a target="_blank" href="authen_login.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Login</span></a></li>
		     <li><a target="_blank" href="login2.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Login 2</span></a></li>
            <li><a target="_blank" href="error.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Error</span></a></li>
            <li><a target="_blank" href="authen_register.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Register</span></a></li>
			<li><a target="_blank" href="authen_logout.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Logout</span></a></li>
            <li><a target="_blank" href="authen_recover.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Recover Password</span> </a></li>
            <li><a target="_blank" href="authen_lock_screen.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Lock Screen</span></a></li>
            <li><a target="_blank" href="authen_confirm_mail.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Confirm Mail</span> </a></li>

          </ul>
        </div>
      </li>
	  
	  
	  <li class="nav-item">
       
        <a href="javascript:void(0);" class="btn btn-toggle align-items-center rounded collapsed w-100 tag_m active_tab" data-bs-toggle="collapse" data-bs-target="#base-collapse" aria-expanded="true"><i class="fa fa-diamond icon-before"></i><span class="btn">Base UI</span><i class="fa fa-chevron-right"></i></a>
        <div class="collapse show" id="base-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="base_accordions.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Accordions</span></a></li>
            <li><a href="base_alerts.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Alerts</span></a></li>
            <li><a href="base_badges.html" class="link-dark rounded w-100 active_tab"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Badges</span> </a></li>
            <li><a href="base_breadcrumb.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Breadcrumb</span></a></li>
            <li><a href="base_buttons.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Buttons</span> </a></li>
			<li><a href="base_card.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Cards</span></a></li>
            <li><a href="base_carousel.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Carousel</span></a></li>
			<li><a href="base_dropdown.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Dropdowns</span></a></li>
            <li><a href="base_grid.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Grid</span></a></li>
            <li><a href="base_listgroup.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> List Group</span> </a></li>
			<li><a href="base_modals.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Modals</span></a></li>
            <li><a href="base_notifi.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Notifications</span></a></li>
			<li><a href="base_offcanvas.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Offcanvas</span></a></li>
            <li><a href="base_placeh.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Placeholders</span> </a></li>
            <li><a href="base_pagination.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Pagination</span></a></li>
			<li><a href="base_progress.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Progress</span></a></li>
			<li><a href="base_spinners.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Spinners</span></a></li>
            <li><a href="base_tabs.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Tabs</span> </a></li>
            <li><a href="base_tooltips.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Tooltips</span></a></li>
            <li><a href="base_typo.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Typography </span></a></li>
          </ul>
        </div>
      </li>
	  
	  <li class="nav-item">
       
        <a href="javascript:void(0);" class="btn btn-toggle align-items-center rounded collapsed w-100 tag_m" data-bs-toggle="collapse" data-bs-target="#Forms-collapse" aria-expanded="false"><i class="fa fa-file icon-before"></i><span class="btn">Forms</span><i class="fa fa-chevron-right"></i></a>
        <div class="collapse" id="Forms-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="form_basic.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Basic Elements</span></a></li>
			<li><a href="form_validation.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Validation</span></a></li>
            <li><a href="form_wizard.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Wizard</span></a></li>
			<li><a href="form.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i>Wordpress  Form</span></a></li>
			<li><a href="list.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i>Wordpress List</span></a></li>
          </ul>
        </div>
      </li>
	  
	  <li class="nav-item">
       
        <a href="javascript:void(0);" class="btn btn-toggle align-items-center rounded collapsed w-100 tag_m" data-bs-toggle="collapse" data-bs-target="#table-collapse" aria-expanded="false"><i class="fa fa-table icon-before"></i><span class="btn">Table</span><i class="fa fa-chevron-right"></i></a>
        <div class="collapse" id="table-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="table_basic.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Basic Table</span></a></li>
			<li><a href="table_tow.html" class="link-dark rounded w-100"><span><i style="font-size:8px; vertical-align:middle; margin-right:10px;" class="fa fa-circle-o"></i> Tow Table</span></a></li>
          </ul>
        </div>
      </li>
	  
	  <li class="nav-item">
        <a href="chat.html" class="btn btn-toggle align-items-center rounded w-100 tag_m  no_drop"><i class="fa fa-comment-o icon-before"></i><span class="btn">Chat</span></a>
      </li>
	  
	  <li class="nav-item">
        <a href="chart_chartjs.html" class="btn btn-toggle align-items-center rounded w-100 tag_m  no_drop"><i class="fa fa-bar-chart icon-before"></i><span class="btn">Charts</span></a>
      </li>
	  
	  <li class="nav-item">
        <a href="email.html" class="btn btn-toggle align-items-center rounded w-100 tag_m  no_drop"><i class="fa fa-envelope icon-before"></i><span class="btn">Email</span></a>
      </li>
    </ul>
    
    
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <svg xmlns="#" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
          </a>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">
              <svg xmlns="#" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers" aria-hidden="true"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
              Integrations
            </a>
          </li>
        </ul>
        
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto common col-lg-10 px-md-4">
       <div class="row crm_1">
	   <div class="col-md-3">
	    <div class="analytic_1l">
		 <h5 class="mb-0">Badges</h5>
		</div>
	   </div>
	   <div class="col-md-9">
	    <div class="crm_1r pull-right">
	      <ul>
		   <li class="col_3 d-inline-block"><a href="#">Lorem</a> <i style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i></li>
		   <li class="col_3 d-inline-block"><a href="#">Base UI</a> <i style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i></li>
		   <li class="col_3 d-inline-block">Badges</li>
		  </ul>
		</div>
	   </div>
	  </div>
	  
	   <div class="row base_badges mt-2">
	    <div class="col-xl-6 col-lg-6 col-md-12">
		  <div class="card">
          <div class="card-header">
             <h5>DEFAULT</h5>
          </div>
          <div class="card-body">
	         <p>A simple labeling component. Badges scale to match the size of the immediate parent element by using relative font sizing and em units.</p>
		    <ul class="nav nav-tabs mb-3">
			<li class="nav-item">
			<a href="#preview11" data-bs-toggle="tab" aria-expanded="false" style="font-weight:bold;" class="nav-link active">
				<i class="mdi mdi-home-variant d-md-none d-block"></i>
				<span class="d-md-block">Preview</span>
			</a>
			</li>
			<li class="nav-item">
			<a href="#code11" data-bs-toggle="tab" aria-expanded="true" style="font-weight:bold;" class="nav-link">
				<i class="mdi mdi-account-circle d-md-none d-block"></i>
				<span class="d-md-block">Code</span>
			</a>
			</li>
			</ul>
			<div class="tab-content">
			<div class="tab-pane active" id="preview11">
		    <h1>Example heading <span class="badge bg-secondary">New</span></h1>
			<h2>Example heading <span class="badge bg-secondary">New</span></h2>
			<h3>Example heading <span class="badge bg-secondary">New</span></h3>
			<h4>Example heading <span class="badge bg-secondary">New</span></h4>
			<h5>Example heading <span class="badge bg-secondary">New</span></h5>
			<h6>Example heading <span class="badge bg-secondary">New</span></h6>
			</div>
			<div class="tab-pane" id="code11">
			<pre class="brush: html;">
				<h1>Example heading <span class="badge bg-secondary">New</span></h1>
				<h2>Example heading <span class="badge bg-secondary">New</span></h2>
				<h3>Example heading <span class="badge bg-secondary">New</span></h3>
				<h4>Example heading <span class="badge bg-secondary">New</span></h4>
				<h5>Example heading <span class="badge bg-secondary">New</span></h5>
				<h6>Example heading <span class="badge bg-secondary">New</span></h6>
			</pre>
			</div>
			</div>
          </div>
      </div>
		  <div class="card mt-4">
          <div class="card-header">
             <h5>PILL BADGES</h5>
          </div>
          <div class="card-body">
	         <p>Use the .rounded-pill modifier class to make badges more rounded.</p>
		  <ul class="nav nav-tabs mb-3">
			<li class="nav-item">
			<a href="#preview12" data-bs-toggle="tab" aria-expanded="false" style="font-weight:bold;" class="nav-link active">
				<i class="mdi mdi-home-variant d-md-none d-block"></i>
				<span class="d-md-block">Preview</span>
			</a>
			</li>
			<li class="nav-item">
			<a href="#code12" data-bs-toggle="tab" aria-expanded="true" style="font-weight:bold;" class="nav-link">
				<i class="mdi mdi-account-circle d-md-none d-block"></i>
				<span class="d-md-block">Code</span>
			</a>
			</li>
			</ul>
			<div class="tab-content">
			<div class="tab-pane active" id="preview12">
              <div class="base_badges_li mt-3">
		   <span class="badge rounded-pill bg-primary">Primary</span>
<span class="badge rounded-pill bg-secondary">Secondary</span>
<span class="badge rounded-pill bg-success">Success</span>
<span class="badge rounded-pill bg-danger">Danger</span>
<span class="badge rounded-pill bg-warning text-dark">Warning</span>
<span class="badge rounded-pill bg-info text-dark">Info</span>
<span class="badge rounded-pill bg-light text-dark">Light</span>
<span class="badge rounded-pill bg-dark">Dark</span>
		  </div>
		      <div class="base_badges_li mt-3">
		  <span class="badge bg-primary">Primary</span>
<span class="badge bg-secondary">Secondary</span>
<span class="badge bg-success">Success</span>
<span class="badge bg-danger">Danger</span>
<span class="badge bg-warning text-dark">Warning</span>
<span class="badge bg-info text-dark">Info</span>
<span class="badge bg-light text-dark">Light</span>
<span class="badge bg-dark">Dark</span>


		  </div>
			</div>
			<div class="tab-pane" id="code12">
			<pre class="brush: html;">
				<div class="base_badges_li mt-3">
					<span class="badge rounded-pill bg-primary">Primary</span>
					<span class="badge rounded-pill bg-secondary">Secondary</span>
					<span class="badge rounded-pill bg-success">Success</span>
					<span class="badge rounded-pill bg-danger">Danger</span>
					<span class="badge rounded-pill bg-warning text-dark">Warning</span>
					<span class="badge rounded-pill bg-info text-dark">Info</span>
					<span class="badge rounded-pill bg-light text-dark">Light</span>
					<span class="badge rounded-pill bg-dark">Dark</span>
				</div>
				
				<div class="base_badges_li mt-3">
					<span class="badge bg-primary">Primary</span>
					<span class="badge bg-secondary">Secondary</span>
					<span class="badge bg-success">Success</span>
					<span class="badge bg-danger">Danger</span>
					<span class="badge bg-warning text-dark">Warning</span>
					<span class="badge bg-info text-dark">Info</span>
					<span class="badge bg-light text-dark">Light</span>
					<span class="badge bg-dark">Dark</span>
				</div>
			</pre>
			</div>
			</div>
          </div>
      </div>
		  
		 
		</div>
		<div class="col-xl-6 col-lg-6 col-md-12">
		  <div class="card">
          <div class="card-header">
            <h5>BADGE POSITIONED</h5>
          </div>
          <div class="card-body">
	         <p>Use utilities to modify a .badge and position it in the corner of a link or button.</p>
		  <ul class="nav nav-tabs mb-3">
			<li class="nav-item">
			<a href="#preview13" data-bs-toggle="tab" aria-expanded="false" style="font-weight:bold;" class="nav-link active">
				<i class="mdi mdi-home-variant d-md-none d-block"></i>
				<span class="d-md-block">Preview</span>
			</a>
			</li>
			<li class="nav-item">
			<a href="#code13" data-bs-toggle="tab" aria-expanded="true" style="font-weight:bold;" class="nav-link">
				<i class="mdi mdi-account-circle d-md-none d-block"></i>
				<span class="d-md-block">Code</span>
			</a>
			</li>
			</ul>
			<div class="tab-content">
			<div class="tab-pane active" id="preview13">
               <div class="base_badges_li">
            <button type="button" class="btn btn-primary">
  Notifications <span class="badge bg-secondary">4</span>
</button>
		  </div>
		  <div class="base_badges_li mt-3">
            <button type="button" class="btn btn-primary position-relative">
  Inbox
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    99+
    <span class="visually-hidden">unread messages</span>
  </span>
</button>
		  </div>
		  <div class="base_badges_li mt-3">
            <button type="button" class="btn btn-primary position-relative">
  Profile
  <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    <span class="visually-hidden">New alerts</span>
  </span>
</button>
		  </div>
			</div>
			<div class="tab-pane" id="code13">
			<pre class="brush: html;">
				<div class="base_badges_li">
					<button type="button" class="btn btn-primary">
					 Notifications <span class="badge bg-secondary">4</span>
					</button>
				</div>
				
				<div class="base_badges_li mt-3">
					<button type="button" class="btn btn-primary position-relative">
						Inbox
						<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
						  99+
						  <span class="visually-hidden">unread messages</span>
					    </span>
					</button>
				</div>
				
				<div class="base_badges_li mt-3">
					<button type="button" class="btn btn-primary position-relative">
						Profile
						<span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
						  <span class="visually-hidden">New alerts</span>
				    	</span>
					</button>
				</div>
			</pre>
			</div>
			</div>
          </div>
      </div>
		  
		  
		 
		</div>
	   </div>
	  

	   <div class="row footer mt-4" style="border-top:1px solid #ddd; padding-top:20px;">
	   <div class="col-md-8">
	    <div class="footer_1l">
		  <p class="mb-0 col_3">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_1 font-weight-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
		</div>
	   </div>
	   <div class="col-md-4">
	    <div class="footer_1r" style="text-align:right;">
		 <ul>
		  <li class="d-inline font_14"><a class="col_3" href="#">About </a></li>
		  <li class="d-inline font_14"><a class="col_3" href="#">Support </a></li>
		  <li class="d-inline font_14"><a class="col_3" href="#">Contact Us </a></li>
		 </ul>
		</div>
	   </div>
	  </div>
    </main>
  </div>
</div>


<script src="js/bootstrap.bundle.min.js" ></script>

</script><script src="js/global.js"></script>
  

</body></html>